<!-- Example row of columns -->
<div class="row">
    <div class="col-md-4">
        <h2>Bus Line</h2>
        <p>This table has details of Bus Line</p>

        <p>
            <a class="btn btn-default" href="#" role="button">View details
                &raquo;</a>
        </p>
        <table style>
            <tr>
                <th>ClientName</th>
                <th>Starting_Point_Name</th>
                <th>Ending_Point_Name</th>
                <th>Departure_Time</th>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <h2>Bus Stop</h2>
        <p>This table has details of Bus Stop</p>
        <p>
            <a class="btn btn-default" href="#" role="button">View details
                &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Bus Time Table</h2>
        <p>This table has details about bus time table</p>
        <p>
            <a class="btn btn-default" href="#" role="button">View details
                &raquo;</a>
        </p>
    </div>
</div>