<!-- Example row of columns -->
<div class="row">
    <div class="col-md-4">
        <h2>Static TimeTable</h2>
        <p>This table has details of Static Timetable</p>

        <p>
            <a class="btn btn-default" href="/timetable" role="button">View details
                &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Travel Request</h2>
        <p>This table has details of Travel Request from users</p>
        <p>
            <a class="btn btn-default" href="/travelrequest" role="button">View details
                &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Dynamic Bus Data Table</h2>
        <p>This table has details about scheduled dynamic buses</p>
        <p>
            <a class="btn btn-default" href="/dynamicbusdata" role="button">View details
                &raquo;</a>
        </p>
    </div>
</div>